
body{
  font-family: "Open Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style:normal;
}
.dc-navbar{

  position:relative;
  min-height: 130px;
}

.dc-navbar-link{
  position:relative;
}

.logo-img{
  min-width:100px;
}

.dc-navbar-link:hover::after{
  content:'';
  height:15%;
  width:75%;
  background-color:#0282F9;
  position:absolute;
  bottom:0;
  right:50%;
  translate:50%; 
}

.hero-container{
  overflow-x:clip;
  max-height:45vh;
  overflow-y:clip;
  padding:0;
}
.hero-img{
  display:block;
  max-width:100vw;
  object-fit:cover;
}

.main-container{
  padding-bottom:50px;
  position:relative;
  background:#1c1c1c;
  padding-top:50px;
}

.comic-container::after{
  content: 'CURRENT SERIES';
  font-family:"Open Sans", sans-serif;
  font-weight: bold;
  position:absolute;
  color:white;
  top:0;
  left: 10%;
  translate:50% -50%;
  padding:10px 20px;
  background: #0282F9;
}

.comic-thumb{
  padding-bottom:10px;
}
.comic-thumb img{
  display:block;
  aspect-ratio:1;
  width:100%;
  object-fit:cover;
  object-position:50% 0%;
  cursor:pointer;
  transition: box-shadow 0.3s ease;
}
.comic{
  transition: scale 0.3s ease;
}
.comic:has(img:hover){
  scale:1.05;
}
.comic:has(img:hover) .comic-thumb img{
  box-shadow: 5px 5px  5px #0F70E4
}

.footer-navbar-wrapper{
  background: #0282F9;
}
.footer-navbar{
  --bs-navbar-padding-y:30px !important;
  position:relative;

}

.footer-navbar-links{
  text-decoration:none;
}
.footer-navbar-links figcaption{
  color:white;
}
.footer-navbar-links figcaption:hover{
  color:#1C1C1C;
}

.footer-navbar-img-fluid{
  width:25%;
  max-width:35px;
}

.footer-list{
  list-style-type:none;
  padding:0;
}
.footer-list li a{
  text-decoration:none;
}

.footer-body{
  position:relative;
  overflow-y:clip;
}
.footer-body-wrapper{
  background-image:url(/img/footer-bg.jpg);
}
.footer-body::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  translate: 25% -10%;
  height: 60vh;
  min-width: 35vw;
  background-image: url(/img/dc-logo-bg.png);
  background-size:contain;
  background-repeat:no-repeat;
  z-index:0;
}

.footer-socials{
  padding: 5vh 0;
  position:relative;
  background: #303030;
}

.follow-us{
  color:#0F70E4;
}
/* Utilities */
.text-white{
  color:white;
}
.fs-8{
  font-size:0.9rem;
}